.clearfix, .grid {
  &::before, &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.ma {
  margin: {
    right: auto;
    left: auto;
  }
}

.site-width {
  max-width: $site-width;
}

.ac {
  text-align: center;
}