*,*::before,*::after {
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5, h6 {
  font-weight: normal;
}


img, video,embed, object {
  min-width: 100%;
}
img {
  vertical-align: middle;
}

label, button {
  cursor: pointer;
}