.page-footer {
  background-color: lighten(#cdcdce, 5);
  padding: em(100) 1.5em;
}

.footer-module {
  margin-bottom: 2em;
  font-size: em(14);

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-module__content, .footer-module__icon {
  display: inline-block;
  vertical-align: middle;
  @include  table-port {
    vertical-align: top;
  }
}

.footer-module__icon {
  background: $color-base-light;
  width: rem(30);
  height:rem(30);
  border-radius: 150%;
  position: relative;
  font: {
    size: em(45);
  };
  color: #ffffff;

  .fa {
    @include vertical-center;
  }
}

.footer-module__title {
  text-transform: uppercase;
  font: {
    weight: bold;
    size: 1em;
  }
}

.footer-module__content {
  color: #4d4d4d;
  margin-left: 2em;

  a {
    color: inherit;
    @include hover-underline;


  }
}