.section {
  margin-bottom: 3em;
  padding: 0 1.25em;

  @include table-port {
    margin-bottom: 2em;
  }

  @include   wide {
    padding: 0;
    margin-bottom: 3em;
  }
}

.section__title {
  text-transform: uppercase;

  color: $color-base;
  font: {
    weight: bold;
    size: em(32);
  }
  text-align: center;
  margin-bottom: 1.5rem;

  @include  table-port {
    font-size: em(42);
  }

  @include wide {
    font-size:em(50);
  }
}

.section__intro-text {
  color: #4d4d4d;
  text-align: center;
  font-size: em(14);
  margin-bottom: 2rem;

  @include table-port {
    font-size: em(16);
    margin-bottom: 3rem;
  }

  @include wide {
    font-size: em(18);
    margin-bottom: 4rem;
  }
}