  .blog__list {
    list-style-type: none;
  }

  .blog__item {
    font-size: em(12);
    margin-bottom: 2em;

    @include table-port {
      font-size: em(15);
      margin-bottom: 3em;
    }

    @include  wide {
      font-size: em(18);
      margin-bottom: 4em;
    }
  }

  .blog__item-image-container {
    margin-bottom: 1.5em;

    a {
      display: block;
      @include  hover-border;
    }

    img {
      max-width: none;
      width: 100%;
    }
  }

  .blog__item-header, .blog__item-excerpt {
    padding: 0 3px;
  }

  .blog__item-tag {
    display: inline-block;
    text-transform: uppercase;
    color: #929292;
    margin-bottom: 0.5em;
    @include hover-underline;
    font-weight: 600;
  }

  .blog__item-title {
    font: {
      size: em(20);
      weight: 600;
    }
    color: $color-base;
    margin-bottom: 1rem;

    a {
      color: inherit;
      @include hover-underline;
    }
  }

  .blog__item-excerpt {
    color: #494949;
    line-height: 1.9rem;
    p {
      margin-bottom: 1.5em;
    }
  }

  .blog__item-read {
    display: block;
    text-align: right;
    color: $color-highlight;
    font-weight: bold;
    @include hover-underline;
    &::after {
      content: " \00bb";
    }
  }