.contact {
  background: $color-base;
  margin-bottom: 0;

  .section__intro-text, .section__title {
    color: #ffffff;
  }
}

.contact__wrapper {
  max-width: em(978);
  padding: em(50) 0;

  @include table-port {
    padding: em(75) 0;
  }

  @include  wide {
    padding: em(150) 0;
  }
}

.contact-form {
  font-size: em(10);

  @include table-port {
    font-size: em(14);
  }
  @include wide {
    font-size: em(18);
  }

}

.contact-form__container {
  margin-bottom: 0.75em;
}

.contact-form__label {
  display: block;
  color: #ffffff;
  margin-bottom: 0.2em;
}

.contact-form__field {
  display: block;
  padding: 0.5em;
  color: #4d4d4d;
  border: 0;
  background: #ffffff;
  width: 100%;
  transition: background 0.2s ease;

//  remove from safari

  border-radius: 0;
  -webkit-appearance: none;

  &:focus {
    background: #ffffcc;
  }
}

.contact-form__field--message {
  height: 8em;
  margin-bottom: 2em;
}

.contact-form__button {
  font: {
    size: em(18);
    weight: bold;
  }
  border: 0;
  color: #ffffff;
  text-transform: uppercase;
  background: linear-gradient(90deg, $color-gradient2,$color-gradient1);
  padding: 1em 2em;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);

  }
}