.portfolio__nav {
  text-align: center;
  margin-bottom: 2em;
  list-style-type: none ;

  @include table-port {
    text-align: left;
  }
}

.portfolio__nav-li {
  display: inline-block;

  @include  table-port {
    display: block;
  }

}

.portfolio__nav-item {
  color: #4d4d4d;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
  display: inline-block;
  font-size: em(16);
  margin: 0.3em 0.8em;

  &:hover, &.is-active {
    color: $color-highlight;
  }

  @include table-port {
    display: block;
    font-size: em(22);
    margin: 0 0 1.25em;
  }
}

.portfolio__item {
  display: block;
  margin-bottom: 2em;
  text-decoration: none;
  @include hover-border;

  img {
    max-width: none;
    width: 100%;
  }
}

.portfolio__list {
  list-style-type: none;
}