.services__item-icon {
  display: inline-block;
  float: none;
  font-size: em(45);
  width: rem(35);
  height: rem(35);
  background: linear-gradient(45deg, $color-gradient1, $color-gradient2);
  border-radius: 100%;
  margin-bottom: 1.3rem;
  position: relative;
  color: #ffffff;

  .fa {
    @include vertical-center;
  }
  
}

.services__list {
  list-style-type: none;

}

.services__item {
  text-align: center;
  margin-bottom: 2em;
  font-size: em(10);

  @include table-port {
    margin-bottom: 3em;
    font-size: em(14);
  }

  @include wide {
    margin-bottom: 4em;
    font-size: em(18);
  }

}

.services__item-title {
  font: {
    size: em(25);
    weight: bold;
  }
  margin-bottom: 1.3rem;
  text-transform: uppercase;
  color: #4d4d4d;
}

.services__item-description {
  color: #494949;
  line-height: 1.9em;
}