.welcome {
  background: $color-base url(../images/welcome_background.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  height: em(200);

  @include table-port {
    height: em(350);
  }

  @include wide {
    height: em(600);
  }

  @include very-wide {
    height: em(740);
  }

  @include retina {
    background-image: url(../images/welcome_background@2x.jpg);
  }
}

.welcome__title {
  font-size: rem(28);
  text-transform: uppercase;
  font-weight: 300;
  color: #FFF;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
  line-height: 1;
  text-align: center;

  @include vertical-center;

  @include table-port {
    font-size: rem(50);
  }

  @include wide {
    font-size: rem(98);
  }
}

span.welcome__title-complement {
  font-size: rem(14) !important;
  display: block;
  font-weight: 500;

  @include table-port {
    font-size: rem(20) !important;
  }

  @include wide {
    font-size: rem(26) !important;
  }
}