$grid-gutter: 16px;

.grid {
  margin: {
    left: $grid-gutter;
    right: $grid-gutter;
  }
}

@include generate_grid(xs, $grid-gutter);

@include phone-land {
  @include generate_grid(sm, $grid-gutter);
}

@include table-port {
  @include generate_grid(md, $grid-gutter);

}


@include table-land {
  @include generate_grid(lg, $grid-gutter);

}